 .movie-card{
    width: 13rem;
    cursor:pointer;
}

.movie-thumbnail{
    width: 100%;
    height: 15rem;
    object-fit:contain;
    object-position: top;
   
}
.movie-card-title{
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

@media only screen and (min-width: 2100px){
    .movie-card{
        width: 30rem;
        padding:0.5rem;
    }
    
    .movie-thumbnail{
        width: 100%;
        height: 30rem;
       
    }
    .movie-card-title{
        font-size: 3rem;
    }
}

@media screen and (max-width:500px) {
    .movie-card-title{
        opacity: 0;
    }
}


