.video_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_player {
  width: 85%;
}

@media only screen and (max-width: 900px) {
  .video_container {
    height: 100vh;
  }
  .video_player {
    width: 100%;
  }
}
