.search-panel{
    width:100%;
    background-color: rgba(0, 0, 0, 0.735);

}
.search-panel-top{
    display:flex;
    position: sticky;
    top:10px;
    left:0;
    right:0;
    align-items: center;
    justify-content: center;
}

.search-panel-top button{
    position: absolute;
    left: 1rem;
    background-color: transparent;
    border:none;
}
.search-panel-top button img{
    width: 2rem;
    height:2rem;
}

.search-panel-top input{
    background:transparent;
    outline:none;
    border: 2px solid white;
    max-width: 65%;
    width: 20rem;
    padding: 0.5rem 0;
}
.search-panel-top input::placeholder{
    text-align: center;
}

.search-panel .buttons-container{
    display: flex;
    justify-content: left;
    padding: 1rem;
    gap: 2rem;
    margin-top: 2rem;

}

.search-panel .buttons-container button{
    color: white;
    box-shadow: 0px 0px 3px white;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

.search-panel .buttons-container .selected-category-btn{
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: none;
    border-radius: 2px;
}

/* on smaller screens */
@media screen and (max-width: 350px) {
    .search-panel .buttons-container{
        justify-content: space-around;
        
    }
}