/* on medium screen */

@media screen and (min-width:630px) {
    .movie-detail-container .hero-section{
        height: 90vh;
        display: flex;
        align-items: start;
    }
    .movie-detail-container .mini-poster{
        width: 50%;
        height: 70%;
        object-fit: contain;
        z-index: 1;
       
    }
    
    .movie-info p{
        width: 70%;
    }
    
    .movie-info .btn-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 3rem;

    }
    
}
