@font-face {
  font-family: roboto;
  src: url('fonts/Roboto-Regular.ttf');
}
:root{
  --transparent-black: rgba(0, 0, 0, 0.782);
}
body{
  font-family: roboto,sans-serif,Arial;
  margin:0;
  background-color: black;

}
*{
  color:rgb(232, 232, 232);
  box-sizing: border-box;
}
.body{
  font-family: 'Roboto', sans-serif;
}
.backdrop{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(23, 23, 23, 0.893);
  z-index: 2;
}

.loading{
  display: block;
  position: absolute;
  top:40%;
  left:40%;
  color: red;
  font-size: 2rem;
}
.not-loading{
  display: none;
}
